body{
    background: rgb(84, 180, 212);
     margin: 0px;
     font-family: sans-seri;
 }


body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #0e0d0d;
}

.input-container {
    margin: 20px 0;
}

input {
    padding: 5px;
    margin: 5px;
}

.button-container {
    margin: 20px 0;
}

button {
    background: rgb(118, 131, 139);
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

#resultado {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}